<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="MyCSS.css">

    <title>GoatGrindr - Matches</title>
</head>
<body>

<div id="wrapper">
    <header id="header">
        <div class="container">
            <div class="navbar-header">
                <a class="logo" href="/"><img src="/goatLogo.png" alt="goatLogo"></a>

                <a id="menu-item-32" href="/mainmenu">
                    <button class="topButton" id="btn-employeeList">Medarbejdere</button>
                </a>
                <a id="menu-item-33" href="/match">
                    <button class="topButton" id="btn-match">Sessioner</button>
                </a>
                <a id="menu-item-34" href="/profile">
                    <button class="topButton" id="btn-profile">Projekter</button>
                </a>
            </div>
        </div>
    </header>
</div>



</body>
</html>