<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update profile</title>
</head>
<body>
<h1>Update your profile</h1>

<form action="updateprofile" method="post">
    <!--
    <table>
        <tr>
            <td>
                <p> Name: </p>
            </td>
            <td>
                <input type="text" name="name" th:value="${goats.name}"/>
            </td>
        </tr>
        <tr>
            <td>
                <p> Date of birth: </p>
            </td>
            <td>
                <input type="text" name="dob" th:value="${goats.dob}"/>
            </td>
        </tr>
        <tr>
            <td>
                <p> Address: </p>
            </td>
            <td>
                <input type="text" name="address" th:value="${goats.address}"/>
            </td>
        </tr>
        <tr>
            <td>
                <p> City </p>
            </td>
            <td>
                <input type="text" name="city" th:value="${goats.city}"/>
            </td>
        </tr>
        <tr>
            <td>
                <p> PostNumber: </p>
            </td>
            <td>
                <input type="text" name="postnumber" th:value="${goats.postnumber}"/>
            </td>
        </tr>
        <tr>
            <td>
                <p> Short description: </p>
            </td>
            <td>
                <input type="text" name="short_description" th:value="${goats.short_description}"/>
            </td>
        </tr>
        <tr>
            <td>
                <p> Long description: </p>
            </td>
            <td>
                <input type="text" name="long_description" th:value="${goats.long_description}"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">
                    <i>Save</i>
                </button>
            </td>
        </tr>
    </table>
    <!-->
</form>
</body>
</html>